* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: rgb(230, 230, 230);
}

/* Header */

header {
    background-color: white;
    padding: 10px 30px;  
}

.v-align {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 40px;
}

/* Contenitore main */

.container {
    width: 80%;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px 50px;
}

/* Bottoni */

button {
    display: inline-block;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    height: 40px;
}

#button-primary {
    color: white;
    background-color: #45abea;
}

#button-secundary {
    color: lightgray;
    background-color: white;
    border: solid lightgray 2px;
}

/* Task lists */
.list-title {
    margin-bottom: 15px;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.task-status {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    padding: 0px 3px;
    border-radius: 50%;
    border: solid 2px;
    margin-right: 10px;
}

.status-done {
    color: rgb(18, 207, 18);
}

.status-undone {
    color: red;
}

.tag{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
    font-size: 10px;
}

.tag-blue {
    background-color: #45abea;
}

.tag-purple {
    background-color: #9d74e6;
}

.tag-green {
    background-color: #68c2aa;
}

.tag-orange {
    background-color: #f59e30;
}

.tag-pink {
    background-color: #d764a6;
}

.tag-lime {
    background-color: #b1cc26;
}